[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

babel = "*"
flask = "*"
gunicorn = "*"
humanhash = {git = "https://github.com/nazavode/humanhash.git", editable = true}
peewee = "*"
stripe = "*"
alembic = "*"
"psycopg2" = "*"
raven = {extras = ["flask"]}
pyqrcode = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
yapf = "*"
"e1839a8" = {path = ".", editable = true}
pytest-cov = "*"
"pep8-naming" = "*"


[requires]

python_version = "3.6"
