{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>
    <div/>
    <form action="/charge" method="POST">
        <div class="row">
            <div class="nine columns">
              <select class="u-full-width" id="ticket_count" name="ticket_count" v-model="number_tickets">
                <option disabled value="">Anzahl der Tickets</option>
                <option value="1">1 Ticket</option>
                <option value="2">2 Tickets</option>
                <option value="3">3 Tickets</option>
                <option value="4">4 Tickets</option>
              </select>
            </div>
            <div class="three columns">
                <p>à 25,00€</p>
            </div>
        </div>
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <button id="charge_button" v-on:click.prevent="charge" class="button-primary">
            Für {% raw %}{{ total_amount_readable }}{% endraw %} kaufen
        </button>
    </form>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</div>
{% endblock %}
