<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="https://unpkg.com/vue"></script>

        <title>Awesome Concert Tickets!</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
